dist
# Rust compile target directories:
target
target_ra
target_wasm
dist/**
dist/*
dist/dummy_worker_bg.wasm
dist/dummy_worker.js
dist/icon-256.png
dist/manifest.json
dist/mtechlogo.png
dist/sw.js
dist/pcllogo.png
